body, input {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.error {
	background-color: #f88;
	border: 1px solid #f33;
	padding: 10px;
}

#map {
    height: 800px;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
}
